body {
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
